<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8  offset-2">
        <br>
    <h3>Create a new listing</h3>
    <form method="POST" action ="/listings" class="needs-validation" novalidate enctype="multipart/form-data">  
        <div class="mb-3">  <!--class = "mb-3" in the divisions to add the space between the div s-->
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder = "enter title" type="text" class="form-control" required><!-- listing[title] means title is a key in the listing object -->
            <div class="valid-feedback">Done!</div>
            <div class="invalid-feedback">Invalid title</div> 
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder = "enter title" type ="text" class="form-control"rows="2" cols="20" required></textarea>
            <div class="invalid-feedback">Invalid description</div>
            <div class="valid-feedback">Done!</div>
        </div>

        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image link</label>
            <input name="listing[image]" placeholder = "enter image URL/link" type ="text" class="form-control">
        </div> -->
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type ="file" class="form-control">
        </div>


        <div class="row" class="mb-3">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder = "enter price here" type ="number" class="form-control" required>
                <div class="invalid-feedback">Invalid the price</div>
                <div class="valid-feedback">Done!</div>
            </div>
            <div class="col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder = "enter country name" type ="text" class="form-control" required>
                <div class="invalid-feedback">Invalid country name</div>
                <div class="valid-feedback">Done!</div>
            </div>
        </div>
        
      
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder = "enter location, country" type ="text" class="form-control" required>
            <div class="invalid-feedback">Invalid location</div>
            <div class="valid-feedback">Done!</div>
        </div>
        <button class="btn btn-dark add-btn" type ="submit">Add</button>
        <br>
    </form>

</div>
</div>
</body>